<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708014246321-ch9r9pc75dfid07seuj1576padce0k2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708014246321-ch9r9pc75dfid07seuj1576padce0k2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDA_ye_GXX2aLGaSL5AncoWAGgGOpn4g4g</string>
	<key>GCM_SENDER_ID</key>
	<string>708014246321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anshulgarg.Quickr</string>
	<key>PROJECT_ID</key>
	<string>quickr-c7c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>quickr-c7c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708014246321:ios:7a002006936da83262d590</string>
	<key>DATABASE_URL</key>
	<string>https://quickr-c7c7b.firebaseio.com</string>
</dict>
</plist>